@font-face {
  font-family: "inter";
  src: url("src/Lift_Cash_frontend/src/assets/fonts/Inter-VariableFont_opsz,wght.ttf")
      format("truetype"),
    url("src/Lift_Cash_frontend/src/assets/fonts/Inter-Italic-VariableFont_opsz,wght.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
